<h3>Get configuration from JSON file</h3>
<div>
	<button mat-raised-button color="primary" (click)="showConfig()">get</button>
	<button mat-raised-button (click)="clear(); showConfigResponse()">
		getResponse
	</button>
	<button mat-raised-button (click)="clear()">clear</button>
	<span *ngIf="config">
		<p>recipeUrl = "{{ config.recipeUrl }}"</p>

		<div *ngIf="headers">
			Response headers:
			<ul>
				<li *ngFor="let header of headers">{{ header }}</li>
			</ul>
		</div>
	</span>
</div>
<p *ngIf="error" class="error">{{ error | json }}</p>
