<div class="recipe container">
	<div class="media">
		<div class="media-body">
			<h2>Naam Recept</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam a
				magna nec semper. Aliquam rhoncus nibh ut ipsum consequat consequat.
				Suspendisse fermentum elit arcu, nec rutrum mi pulvinar ac. Cras id mi
				id leo ultricies eleifend ac vel lectus. Fusce tristique neque ut mollis
				pulvinar. Suspendisse venenatis et nisi vel rutrum. Pellentesque
				habitant morbi tristique senectus et netus et malesuada fames ac turpis
				egestas. Morbi aliquet vestibulum faucibus. Mauris eu bibendum lorem, in
				consequat massa. Nunc quis consequat velit. Mauris placerat tortor in
				diam luctus vulputate. Donec volutpat mattis massa sed vulputate.
			</p>
		</div>
		<img class="recipe" src="assets/images/placeholder.jpg" alt="Placeholder" />
	</div>
	<accordion>
		<accordion-group heading="Ingrediënten">
			<p>Some content</p>
		</accordion-group>
		<accordion-group heading="Bereiding">
			<p>Some content</p>
		</accordion-group>
	</accordion>
</div>
